button
{
    background-color: #F1F6FC;
    border: 0px;
    font-size: 12px;
    color: #643976;
    padding: 8px 18px 8px 18px;
    font-weight: bold;
}
td
{
    background-color: #F1F6FC
}